<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card card-body">
        <ul id="messages"></ul>
        <form id="form">
          <div class="input-group">
            <input id="textarea" class="form-control" required />
            <div class="input-group-append">
              <input class="btn btn-primary" type="submit" value="Send" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      let socket = new WebSocket("ws://localhost:4000/room");
      let messages = document.getElementById("messages");
      let form = document.getElementById("form");
      let textarea = document.getElementById("textarea");

      form.addEventListener("submit", e => {
        e.preventDefault();
        console.log(textarea);
        socket.send(textarea.value);
        textarea.value = "";
      });

      socket.addEventListener("message", e => {
        let li = document.createElement("li");
        li.innerText = "{{.User.Name}} Says: " + e.data;
        messages.append(li);
      });

      socket.addEventListener("close", e => {
        alert("Connection has been close");
      });
    </script>
  </body>
</html>
